$background-color: #f6f6f6;
$white-color: #ffffff;
$main-color: #5db9ac;
$sub-color: #62c2b5;
$grey: #7b7b7b;
$light-grey: #bababa;
$hover-grey-color: #cbcbcb;
$green-color: #7abd78;
$sub-green-color: #88D285;
$pink-color: #d97a7c;
$hover-pink-color: #f38b8d;
$light-pink: #f6c6c8;

$base-font-family: 'Avenir', Helvetica, Arial, sans-serif;
$base-font-weight: 300;
$base-font-size: 18px;

//$title-black-color: #4A4A4A;
//$main-font-color: #3D5673;
//$sub-font-color: #81B6F5;
//$page-foot-color: #474457;
//$blue-grey-color: #9FAEC0;
//$card-border-color: #979797;

$card-background: rgba(255, 255, 255, 0.95);
$button-background: #8DC6FF;
