@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.decoration-wrapper {
  display: inline-block;
  width: 9%;
  vertical-align: top;
  animation: down-up 3s ease-in-out infinite;
}

@keyframes down-up {
  0% {
    top: 0;
  }
  50% {
    top: -1em;
  }
  100% {
    top: 0;
  }
}