html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: 300;
  list-style: none; }

html {
  height: 100%; }

* {
  position: relative;
  box-sizing: border-box; }

button {
  outline: none; }

/*
 * grid
 */
.body-wrapper {
  height: 100vh; }

.container {
  min-height: 80vh; }

.header-wrapper {
  display: inline-block;
  width: 100%;
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  background-size: 70%;
  animation: snowing 15s linear infinite; }

.greeting-wrapper {
  text-align: center; }
  .greeting-wrapper .ribbon-wrapper {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    width: 50%;
    height: 100px;
    background-size: 100% 100%; }
    .greeting-wrapper .ribbon-wrapper span {
      overflow: hidden;
      font-size: 54px;
      letter-spacing: 5px;
      font-weight: 500;
      color: #ffffff; }
  .greeting-wrapper p {
    font-size: 24px;
    letter-spacing: 15px;
    font-weight: 500;
    color: #d97a7c; }
  .greeting-wrapper .open-button {
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    display: inline-block;
    margin-top: 20px;
    padding: 3px 30px;
    border: solid 2px #d97a7c;
    border-radius: 100px;
    background: none;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 5px;
    text-indent: 5px;
    color: #d97a7c;
    cursor: pointer; }
    .greeting-wrapper .open-button:hover {
      -webkit-transition: all, 0.5s;
      -moz-transition: all, 0.5s;
      -ms-transition: all, 0.5s;
      -o-transition: all, 0.5s;
      transition: all, 0.5s;
      color: #f38b8d;
      border: solid 2px #f38b8d; }
  @media screen and (max-width: 700px) {
    .greeting-wrapper .ribbon-wrapper {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 0 auto;
      width: 70%;
      height: 100px;
      background-size: 100% 100%; }
      .greeting-wrapper .ribbon-wrapper span {
        top: 15%;
        overflow: hidden;
        font-size: 32px;
        letter-spacing: 5px;
        font-weight: 500;
        color: #ffffff; }
    .greeting-wrapper p {
      font-size: 18px;
      letter-spacing: 8px;
      font-weight: 500;
      color: #d97a7c; }
    .greeting-wrapper .open-button {
      padding: 3px 20px;
      font-size: 18px;
      letter-spacing: 3px;
      text-indent: 3px; } }

#bg-circle {
  animation: fall-down 3s linear infinite; }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes showUp {
  from {
    font-size: 2em;
    color: #5db9ac; }
  to {
    font-size: 2.5em;
    color: #ffffff; } }
@keyframes fall-down {
  50% {
    transform: translate(50px, 50px); }
  100% {
    transform: translate(0px, 100px); } }
@keyframes snowing {
  to {
    background-position: 0% 0%; }
  from {
    background-position: 0% 100%; } }

/*# sourceMappingURL=Cover.css.map */
