@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

form {
  margin-top: 30px;
}

.el-tag {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.button-wrapper {
  margin-top: 20px;
  text-align: right;

  button {
    @include transition(all, 0.3s);
    display: inline-block;
    padding: 3px 15px;
    border-radius: 100px;
    background-color: $pink-color;
    font-size: 14px;
    color: $white-color;
    cursor: pointer;

    &:hover {
      @include transition(all, 0.3s);
      background-color: $hover-pink-color;
    }
  }

  .cancel-button {
    margin-right: 5%;
    background-color: $light-grey;
    color: $white-color;
    &:hover {
      background-color: $hover-grey-color;
    }
  }
}

@media screen and (max-width: 600px) {
  select {
    width: 80%;
  }

  .button-wrapper {
    button {
      padding: 3px 10px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 450px) {
  .button-wrapper {
    .cancel-button {
      display: none;
    }
  }

}